/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;

  color: white;
  background: rgb(2,1,29);
  background: linear-gradient(180deg, rgba(2,1,29,1) 25%, rgb(1, 1, 15) 50%, rgba(0,0,0,1) 100%);
  background-attachment: fixed;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1{
  font-size: 2.3rem;
  padding: 3% 0;
}

p{
  font-size: 1.3rem;
  font-weight: 100;
}

#generateImage{
  text-decoration: none;
  border: 1px solid white;
  padding: 2% 3%;
  border-radius: 5px;
  margin: 3% 0;
  font-size: 1.2rem;
  color: white;
}
#generateImage:hover{
  background-color: white;
  color: rgb(1, 1, 15);
}

header a{
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.image{
  display: flex;
  justify-content: center;
}

.image img{
  width: 95%;
  border-radius: 10px;
  border: 2px solid white;
}

.imageInfo{
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.imageInfo h3{
  font-size: 1.5rem;
  text-decoration: underline;  
  padding: 1% 0;
}

.imageInfo span{
  font-size: 1.1rem;
  font-weight: 200;
  padding: 1% 0;
}

.imageInfo #title{
  font-size: 1.3rem;
  font-weight: 500;
}

.imageInfo p{
  font-weight: 200;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  display: none;
}